.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker {
  background-image: url('../src/assets/img/marker.svg');
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
}